.board-container {
	position: relative;
	overflow-x: scroll;
	
	.board {
		position: absolute;
		top: 2px;
		margin-right: 2px;
		left: 35px;
		overflow: visible;
		
		svg {
			overflow: visible;
		}
	}
}