// variables
$menu-width: 330px;
$move-container-padding: 3px;
$scoreboard-size: 3.6em;
$social-media-padding: 10px;
$space: 3vw;

body, html {
	width: 100%;
	height: 100%;

	.resign-game {
		font-size: 1.3em;
		color: #b97a57;
		font-weight: bolder;
		cursor: pointer;
	}
}

.board-container {
	width: calc((91vw - #{$menu-width});
	height: 100%;
	float: left;
}

.container {
	position: absolute;
	/*top: $space;*/
	top: 70px;
	left: $space;
	bottom: $space;
	width: 100vw - ($space * 2);
	padding: 0;
}

.menu-container {
	position: absolute;
	
	top: 0;
	bottom: $space;
	right: 0;
	
	width: $menu-width;
	
	min-height: 460px;
	
	.logo {
		width: 156px;
		margin: 0 auto;
		font-size: 4.5em;
		height: 60px;
		user-select: none;
	}
	
	.settings-and-help-container {
		position: absolute;
		top: 0;
		right: 0;
		height: 60px;
		
		.fa {
			font-size: 1.6em;
			padding: 5px;
			float: left;
			clear: left;			
		}
	}

	#copy-moves, #settings-btn {
		cursor: pointer;
	}
	
	/* this container was placed right of board but after we added nicknames in became too small */
	/*.score-container {
		clear: left;
		height: 120px;
		position: relative;
		
		.score {
			line-height: $scoreboard-size;
			text-align: center;
			
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50%;
			margin: auto;
			
			.player-name {
				font-size: 1.3em;
				display: inline-block;
				vertical-align: middle;
				font-weight: bold;
			}
			
			.player-score {
				font-size: $scoreboard-size;
				margin: 0 5px;
				display: inline-block;
				vertical-align: middle;
			}
			
			.divider-vertical {
				height: $scoreboard-size;
				width: 0px;
				border: 1px solid black;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}*/

	.move-container {
		width: 100%;
		border: 1px solid gray;
		position: relative;
		padding: $move-container-padding;
		margin-top: 15px;
		
		.move-label {
			float: left;
			margin: 0;
			padding: 0;
			padding-left: 0px;
			user-select: none;
			font-weight: bold;

			.fa-rotate-45 {
				transform: rotate(45deg);
			}

			.move-expand-all {
				width: 20px;
			}
		}
		
		#copy-moves {
			float: right;
			position: relative;
			top: 2px;
		}
		
		#moves {
			float: left;
			clear: both;
			margin-top: $move-container-padding;
			height: calc(100% - #{25px + $move-container-padding});
			resize: none;
			width: 100%;
			overflow-y: scroll;
			font-family: "Lucida Console", monospace;
			line-height: 8px;
			border-top: 1px solid #808080;
		}

		table {
			tr {
				vertical-align: top;
			}

			margin-top: 10px;
		}

		br {
       		display: block;
   			margin-top: 10px;
     	}

		/*.notation-spacer {
			height: 20px;
		}*/

		.notation-table {
			/*margin-bottom: 5px;*/
			line-height: 18px;
		}

		.notation-expand-collapse-td {
			width: 18px;
		}

		.notation-hidden {
			width: 1px;
			height: 1px;
			overflow: hidden;
			display: inline-block
		}

		.notation-dot {
			background-color: black;
			width: 2px;
			height: 2px;
			display: inline-block;
			margin-right: 3px;
		}

		/*.notation-expand-collapse-icon {
			margin-left: -16px;
		    position: absolute;
		}*/

		/*.notation-expanded {

		}

		.notation-collapsed {
			width: 260px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		    display: inline-block;
		}*/

		/*.notation-meta {
			 display: block;
		}*/
	}
	
	.social-media-container {
		height: 29px + $social-media-padding;
		width: 100%;
		position: relative;
		
		.social-media {
			position: absolute;
			
			bottom: 0;
			right: $social-media-padding;
					
			i {
				font-size: 2em;
				padding-left: 10px;
			}
		}
	}
}

.message-container {
	background-color: rgba(180, 180, 180, 0.9);
	position: absolute;
	bottom: 20px;
	padding: 10px;
	color: #fff;
	line-height: 19px;
	vertical-align: middle;
	
	.message {
		padding: 0;
		margin: 0;
		float: left;
		margin-right: 20px;
	}
	
	.close-message {
		position: relative;
		top: 1px;
	}
	
	.close-message:hover {
		color: #999;
		cursor: pointer;
	}
}

#hidden {
	display: none !important;
}


.window {
	border-radius: 10px;
	border: 3px solid #000000;
	text-align: center;
	display: inline-block;
	padding: 28px;
	position: absolute;
	background-color: #f1f0f0;
	color: #333;
	font-size: 1.5em;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	cursor: move;
	z-index: 2;

	.button {
		display: inline-block;
		border-radius: 5px;
		color: #fff;
		font-size: 1.2em;
		background: #707070;
		padding: 4px 14px;
		text-decoration: none;
		margin-top: 11px;
		cursor: pointer;
		user-select: none;
	}

	.button:hover {
		background: #4a4a4a;
		text-decoration: none;
	}
}


#game-won-window {
	z-index: 2;

	#game-won-scores {
		font-weight: bold;
	}

	#game-won-winner-name {
		font-weight: bold;
	}

	.button {
		font-size: 0.8em;
	}

	#game-won-new-game-button {
	    margin-left: 10px;
	    margin-right: 10px;
	}

	#game-won-another-game-waiting {
		margin-left: 10px;
	    margin-right: 10px;
		margin-top: 11px;
		display: inline-block;
		border-radius: 5px;
		color: #707070;
		font-size: 0.8em;
		background: #AAA;
		padding: 4px 14px;
		text-decoration: none;
		user-select: none;
		cursor: wait;
	}

	.game-won-another-game-button-requested {
		/*background: #35b901;*/
		animation: game-won-another-game-button-requested-blink 1s linear infinite;
	}

	@keyframes game-won-another-game-button-requested-blink {  
		/* Please just blink */
		0% { background-color: #26b101; }
		49% { background-color: #26b101; }
		50% { background-color: #707070; }
		99% { background-color: #707070; }
		100% { background-color: #26b101; }
	}
}

#game-select-window {
	font-size: 1em;
	
	#game-select-table {
		border: 0px;
	}

	#game-select-welcome-message {
		font-size: 1.8em;
		font-weight: bold;
		a {
			color: #000;
		}
	}

	#game-select-skip-tutorial-message {
		font-size: 0.9em;
	}

	.game-select-mode-box {
		display: inline-block;
		border-radius: 5px;
		border: 1px solid #000000;
		background-color: #fcfcfc;
		box-shadow: 2px 2px 6px 0 rgba(0,0,0,.5);
		padding: 10px;
		margin: 10px;
		height: 140px;
		width: 250px;
	}

	.game-select-mode-name {
		font-size: 1.5em;
		font-weight: bold;
	}

	.game-select-mode-description {
		font-size: 0.8em;
	}

	.game-select-mode-unavailable {
		position: relative;
		bottom: -30px;
		color: #ff0000;
		font-weight: bold;
	}

	.game-select-mode-box:hover {
		cursor: pointer;
		background-color: #EEE;
	}

	.game-select-mode-box-unavailable {
		cursor: not-allowed !important;
		background-color: #DDD !important;
	}
}

#names-2p-window {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 1em;
	z-index: 3;

	#names-2p-message {
		font-size: 1.5em;
		font-weight: bold;
	}

	.names-2p-input::placeholder {
		color: #d0d0d0;
		font-weight: bold;
	}

	#names-2p-input-p1 {
		margin-right: 40px;
	}

	#names-2p-input-p2 {
		margin-left: 0px;
	}

	#names-2p-error {
		text-align: left;
		font-size: 0.9em;
		color: #ff0000;
	}
}

#settings-window {
	padding-top: 10px;
	padding-bottom: 10px;

	#settings-title {
		font-weight: 700;
	}

	table {
		margin-top: 16px;
	}

	table, th, td  {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 0.9em;
		/*border: 1px solid black;*/
		border: 0;
	}

	#settings-save-btn {
		font-size: .8em;
	    margin: 0px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    padding-left: 6px;
    	padding-right: 6px;
	    position: absolute;
	    top: 4px;
	    right: 4px;
	    border-radius: 8px;
	}

	#settings-save-warn-message {
		font-size: 0.6em;
		font-style: italic;
	}

	.tlp {
		cursor: pointer;
	}
}

#network-killed-window {
	#network-killed-ok-btn {
		font-size: .8em;
	}
}

.score-point {
	position: absolute;
	display: inline-block;
	border-radius: 100px;
	z-index: 1;
	border: 3px solid #3c3c3c;
}

/* This hides tooltips when they are hidden */
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.tooltip-content {
	background-color: #7d7a7a;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	/*max-width: 500px;*/
	border-radius: 5px;
	color: #FFF;
}

.score-container {
	clear: left;
	position: absolute;
	white-space: nowrap;
	display: inline-block;
	
	.score {
		line-height: $scoreboard-size;
		text-align: center;
		
		/*position: absolute;*/
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50%;
		margin: auto;
		
		.player-name {
			/* Will be re-calculated in view.js by reCalculatePlayerNamesFontSize() */
			font-size: 1.3em;
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
		}

		.player-1-name {
			text-align: right;
		}

		.player-2-name {
			text-align: left;
		}
		
		.player-score {
			font-size: $scoreboard-size;
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
		
		.divider-vertical {
			height: $scoreboard-size;
			width: 0px;
			border: 2px solid black;
			display: inline-block;
			vertical-align: middle;
		}

		.turn-owner {
			text-decoration: underline;
		    color: #fff;
		    text-shadow: 0px 0px 25px #000000,0 0 30px #000000,0px 0px 7px #000000;
		}
	}
}