// variables
$menu-width: 255px;
$move-container-padding: 15px;
$scoreboard-size: 4.2em;
$social-media-padding: 10px;
$space: 3vw;

body, html {
	width: 100%;
	height: 100%;
}

.container {
	position: absolute;
	top: $space;
	left: $space;
	bottom: $space;
	width: 100vw - ($space * 2);
	padding: 0;
}

.board-container {
	width: calc((91vw - #{$menu-width});
	height: 100%;
	float: left;
}

.menu-container {
	position: absolute;
	
	top: 0;
	bottom: $space;
	right: 0;
	
	width: $menu-width;
	
	min-height: 460px;
	
	.logo {
		width: 156px;
		margin: 0 auto;
		font-size: 4.5em;
		height: 60px;
	}
	
	.settings-and-help-container {
		position: absolute;
		top: 0;
		right: 0;
		height: 60px;
		
		.fa {
			font-size: 1.6em;
			padding: 5px;
			float: left;
			clear: left;			
		}
	}
	
	.score-container {
		clear: left;
		height: 120px;
		position: relative;
		
		.score {
			line-height: $scoreboard-size;
			text-align: center;
			
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50%;
			margin: auto;
			
			.player-name {
				font-size: 1.3em;
				display: inline-block;
				vertical-align: middle;
			}
			
			.player-score {
				font-size: $scoreboard-size;
				margin: 0 10px;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	
	.move-container {
		width: 100%;
		border: 1px solid gray;
		position: relative;
		padding: $move-container-padding;
		
		.move-label {
			float: left;
			margin: 0;
		}
		
		#copy-moves {
			float: right;
		}
		
		#moves {
			float: left;
			clear: both;
			margin-top: $move-container-padding;
			height: calc(100% - #{25px + $move-container-padding});
			resize: none;
			width: 100%;
			overflow-y: scroll;
		}
	}
	
	.social-media-container {
		height: 29px + $social-media-padding;
		width: 100%;
		position: relative;
		
		.social-media {
			position: absolute;
			
			bottom: 0;
			right: $social-media-padding;
					
			i {
				font-size: 2em;
				padding-left: 10px;
			}
		}
	}
}

.divider-vertical {
	height: $scoreboard-size;
	width: 0px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
}