// variables
$menu-width: 255px;
$move-container-padding: 15px;
$scoreboard-size: 3.6em;
$social-media-padding: 10px;
$space: 3vw;

body, html {
	width: 100%;
	height: 100%;
}

.board-container {
	width: calc((91vw - #{$menu-width});
	height: 100%;
	float: left;
}

.container {
	position: absolute;
	top: $space;
	left: $space;
	bottom: $space;
	width: 100vw - ($space * 2);
	padding: 0;
}

.menu-container {
	position: absolute;
	
	top: 0;
	bottom: $space;
	right: 0;
	
	width: $menu-width;
	
	min-height: 460px;
	
	.logo {
		width: 156px;
		margin: 0 auto;
		font-size: 4.5em;
		height: 60px;
		user-select: none;
	}
	
	.settings-and-help-container {
		position: absolute;
		top: 0;
		right: 0;
		height: 60px;
		
		.fa {
			font-size: 1.6em;
			padding: 5px;
			float: left;
			clear: left;			
		}
	}
	
	.score-container {
		clear: left;
		height: 120px;
		position: relative;
		
		.score {
			line-height: $scoreboard-size;
			text-align: center;
			
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50%;
			margin: auto;
			
			.player-name {
				font-size: 1.3em;
				display: inline-block;
				vertical-align: middle;
				font-weight: bold;
			}
			
			.player-score {
				font-size: $scoreboard-size;
				margin: 0 5px;
				display: inline-block;
				vertical-align: middle;
			}
			
			.divider-vertical {
				height: $scoreboard-size;
				width: 0px;
				border: 1px solid black;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	
	.move-container {
		width: 100%;
		border: 1px solid gray;
		position: relative;
		padding: $move-container-padding;
		
		.move-label {
			float: left;
			margin: 0;
			padding: 0;
		}
		
		#copy-moves {
			float: right;
			position: relative;
			top: 2px;
		}
		
		#moves {
			float: left;
			clear: both;
			margin-top: $move-container-padding;
			height: calc(100% - #{25px + $move-container-padding});
			resize: none;
			width: 100%;
			overflow-y: scroll;
			font-family: "Lucida Console", monospace;
		}
	}
	
	.social-media-container {
		height: 29px + $social-media-padding;
		width: 100%;
		position: relative;
		
		.social-media {
			position: absolute;
			
			bottom: 0;
			right: $social-media-padding;
					
			i {
				font-size: 2em;
				padding-left: 10px;
			}
		}
	}
}

.message-container {
	background-color: rgba(180, 180, 180, 0.9);
	position: absolute;
	bottom: 20px;
	padding: 10px;
	color: #fff;
	line-height: 19px;
	vertical-align: middle;
	
	.message {
		padding: 0;
		margin: 0;
		float: left;
		margin-right: 20px;
	}
	
	.close-message {
		position: relative;
		top: 1px;
	}
	
	.close-message:hover {
		color: #999;
		cursor: pointer;
	}
}

#hidden {
	display: none !important;
}

#game-won-window {
	border-radius: 10px;
	border: 3px solid #000000;
	text-align: center;
	display: inline-block;
	padding: 28px;
	position: absolute;
	background-color: #f1f0f0;
	color: #333;
	font-size: 1.5em;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
}

#game-won-new-game-button {
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	font-size: 1.2em;
	background: #707070;
	padding: 4px 14px;
	text-decoration: none;
	margin-top: 11px;
	cursor: pointer;
	user-select: none;
}

#game-won-new-game-button:hover {
	background: #4a4a4a;
	text-decoration: none;
}

#game-won-scores {
	font-weight: bold;
}

#game-won-winner-name {
	font-weight: bold;
}
